In [1]:
import numpy as np, pandas as pd
import os,glob, re
%matplotlib inline

dfs = {re.search('([a-zA-Z_]*)\.csv', fn).group(1):pd.read_csv(fn) for fn in glob.glob(os.getcwd()+'//Raw//*.csv')}
print('data frames read:{}'.format(list(dfs.keys())))

print('local variables with the same names are created.')
for k, v in dfs.items(): locals()[k] = v

data frames read:['air_reserve', 'air_store_info', 'air_visit_data', 'date_info', 'hpg_reserve', 'hpg_store_info', 'sample_submission', 'store_id_relation']
local variables with the same names are created.

In [2]:
air_store_info['city'] = [x[0].split(' ')[0] for x in air_store_info['air_area_name'].str.split('-')]
air_store_info['loc'] = [x[1].split(' ')[1] for x in air_store_info['air_area_name'].str.split('-')]

In [3]:
air_visit_data = air_visit_data.merge(air_store_info,on = 'air_store_id',how = 'left')

In [4]:
# air_visit_data['dow'] = pd.to_datetime(air_visit_data['visit_date']).dt.dayofweek
# air_visit_data['woy'] = pd.to_datetime(air_visit_data['visit_date']).dt.weekofyear - 17
# air_visit_data['yr'] = pd.to_datetime(air_visit_data['visit_date']).dt.year
# air_visit_data.tail()

In [5]:
# air_visit_data.groupby(['yr','woy','city'])['air_store_id'].nunique().unstack().plot(figsize = (20,5))

In [6]:
# air_visit_data.groupby(['yr','woy','city'])['visitors'].mean().unstack().plot(figsize = (20,5))

In [7]:
print("Add features to date_info")
print()
print("1. Remove Saturday and Sunday as flagged holidays")
weekdayholidays = date_info.apply(lambda x: x.day_of_week in ['Saturday','Sunday'] and x.holiday_flg == 1,axis=1)
date_info.loc[weekdayholidays,'holiday_flg'] = 0
print("2. Add day before the holiday feature")
date_info['lagged'] = date_info['holiday_flg'].shift(-1)
day_b4_holiday = (date_info['holiday_flg'] == 0) & (date_info['lagged'] == 1.0) #& (date_info['day_of_week'] not ['Sunday','Saturday'])
date_info['dayb4holiday'] = 0
date_info.loc[day_b4_holiday,'dayb4holiday'] = 1
date_info.drop('lagged',axis = 1, inplace = True)
print("3. Add year, month, day of year features")
date_info['year'] = pd.to_datetime(date_info['calendar_date']).dt.year
date_info['month'] = pd.to_datetime(date_info['calendar_date']).dt.month
date_info['woy'] = pd.to_datetime(date_info['calendar_date']).dt.weekofyear
#date_info['doy'] = pd.to_datetime(date_info['calendar_date']).dt.dayofyear
date_info.head()

Add features to date_info

1. Remove Saturday and Sunday as flagged holidays
2. Add day before the holiday feature
3. Add year, month, day of year features

  calendar_date day_of_week  holiday_flg  dayb4holiday  year  month  woy
0    2016-01-01      Friday            1             0  2016      1   53
1    2016-01-02    Saturday            0             0  2016      1   53
2    2016-01-03      Sunday            0             0  2016      1   53
3    2016-01-04      Monday            0             0  2016      1    1
4    2016-01-05     Tuesday            0             0  2016      1    1

In [8]:
goldenweek_2016start = '2016-04-29' 
goldenweek_2016end = '2016-05-05'
goldenweek_2017start = '2017-04-29' 
goldenweek_2017end = '2017-05-07'

date_info['golden'] = 0
date_info.loc[((date_info['calendar_date'] >= goldenweek_2016start) & (date_info['calendar_date'] <= goldenweek_2016end))
              | ((date_info['calendar_date'] >= goldenweek_2017start) & (date_info['calendar_date'] <= goldenweek_2017end))
              ,'golden'] = 1
date_info[date_info['golden'] == 1]

,calendar_date,day_of_week,holiday_flg,dayb4holiday,year,month,woy,golden
119,2016-04-29,Friday,1,0,2016,4,17,1
120,2016-04-30,Saturday,0,0,2016,4,17,1
121,2016-05-01,Sunday,0,0,2016,5,17,1
122,2016-05-02,Monday,0,1,2016,5,18,1
123,2016-05-03,Tuesday,1,0,2016,5,18,1
124,2016-05-04,Wednesday,1,0,2016,5,18,1
125,2016-05-05,Thursday,1,0,2016,5,18,1
484,2017-04-29,Saturday,0,0,2017,4,17,1
485,2017-04-30,Sunday,0,0,2017,4,17,1
486,2017-05-01,Monday,0,0,2017,5,18,1
487,2017-05-02,Tuesday,0,1,2017,5,18,1
488,2017-05-03,Wednesday,1,0,2017,5,18,1
489,2017-05-04,Thursday,1,0,2017,5,18,1
490,2017-05-05,Friday,1,0,2017,5,18,1
491,2017-05-06,Saturday,0,0,2017,5,18,1
492,2017-05-07,Sunday,0,0,2017,5,18,1

In [9]:
date_info.loc[date_info['golden'] == 1,'holiday_flg'] = 0
date_info.loc[date_info['golden'] == 1,'dayb4holiday'] = 0
date_info[date_info['golden'] == 1]

,calendar_date,day_of_week,holiday_flg,dayb4holiday,year,month,woy,golden
119,2016-04-29,Friday,0,0,2016,4,17,1
120,2016-04-30,Saturday,0,0,2016,4,17,1
121,2016-05-01,Sunday,0,0,2016,5,17,1
122,2016-05-02,Monday,0,0,2016,5,18,1
123,2016-05-03,Tuesday,0,0,2016,5,18,1
124,2016-05-04,Wednesday,0,0,2016,5,18,1
125,2016-05-05,Thursday,0,0,2016,5,18,1
484,2017-04-29,Saturday,0,0,2017,4,17,1
485,2017-04-30,Sunday,0,0,2017,4,17,1
486,2017-05-01,Monday,0,0,2017,5,18,1
487,2017-05-02,Tuesday,0,0,2017,5,18,1
488,2017-05-03,Wednesday,0,0,2017,5,18,1
489,2017-05-04,Thursday,0,0,2017,5,18,1
490,2017-05-05,Friday,0,0,2017,5,18,1
491,2017-05-06,Saturday,0,0,2017,5,18,1
492,2017-05-07,Sunday,0,0,2017,5,18,1

In [10]:
date_info['weights'] = ((date_info.index + 1)/ len(date_info))**7
date_info.tail()

,calendar_date,day_of_week,holiday_flg,dayb4holiday,year,month,woy,golden,weights
512,2017-05-27,Saturday,0,0,2017,5,21,0,0.947082
513,2017-05-28,Sunday,0,0,2017,5,21,0,0.960081
514,2017-05-29,Monday,0,0,2017,5,22,0,0.973233
515,2017-05-30,Tuesday,0,0,2017,5,22,0,0.986539
516,2017-05-31,Wednesday,0,0,2017,5,22,0,1.000000

In [11]:
air_visit_data = air_visit_data.merge(date_info,left_on = 'visit_date',right_on='calendar_date',how= 'left')
air_visit_data.drop(['visit_date','calendar_date','air_area_name'],axis = 1,inplace = True)
air_visit_data.head()

,air_store_id,visitors,air_genre_name,latitude,longitude,city,loc,day_of_week,holiday_flg,dayb4holiday,year,month,woy,golden,weights
0,air_ba937bf13d40fb24,25,Dining bar,35.658068,139.751599,Tōkyō,Minato,Wednesday,0,0,2016,1,2,0,6.355792e-12
1,air_ba937bf13d40fb24,32,Dining bar,35.658068,139.751599,Tōkyō,Minato,Thursday,0,0,2016,1,2,0,1.067732e-11
2,air_ba937bf13d40fb24,29,Dining bar,35.658068,139.751599,Tōkyō,Minato,Friday,0,0,2016,1,2,0,1.730633e-11
3,air_ba937bf13d40fb24,22,Dining bar,35.658068,139.751599,Tōkyō,Minato,Saturday,0,0,2016,1,2,0,2.718980e-11
4,air_ba937bf13d40fb24,6,Dining bar,35.658068,139.751599,Tōkyō,Minato,Monday,0,0,2016,1,3,0,6.201171e-11

In [12]:
air_visit_data

,air_store_id,visitors,air_genre_name,latitude,longitude,city,loc,day_of_week,holiday_flg,dayb4holiday,year,month,woy,golden,weights
0,air_ba937bf13d40fb24,25,Dining bar,35.658068,139.751599,Tōkyō,Minato,Wednesday,0,0,2016,1,2,0,6.355792e-12
1,air_ba937bf13d40fb24,32,Dining bar,35.658068,139.751599,Tōkyō,Minato,Thursday,0,0,2016,1,2,0,1.067732e-11
2,air_ba937bf13d40fb24,29,Dining bar,35.658068,139.751599,Tōkyō,Minato,Friday,0,0,2016,1,2,0,1.730633e-11
3,air_ba937bf13d40fb24,22,Dining bar,35.658068,139.751599,Tōkyō,Minato,Saturday,0,0,2016,1,2,0,2.718980e-11
4,air_ba937bf13d40fb24,6,Dining bar,35.658068,139.751599,Tōkyō,Minato,Monday,0,0,2016,1,3,0,6.201171e-11
5,air_ba937bf13d40fb24,9,Dining bar,35.658068,139.751599,Tōkyō,Minato,Tuesday,0,0,2016,1,3,0,9.054019e-11
6,air_ba937bf13d40fb24,31,Dining bar,35.658068,139.751599,Tōkyō,Minato,Wednesday,0,0,2016,1,3,0,1.296511e-10
7,air_ba937bf13d40fb24,21,Dining bar,35.658068,139.751599,Tōkyō,Minato,Thursday,0,0,2016,1,3,0,1.824321e-10
8,air_ba937bf13d40fb24,18,Dining bar,35.658068,139.751599,Tōkyō,Minato,Friday,0,0,2016,1,3,0,2.526533e-10
9,air_ba937bf13d40fb24,26,Dining bar,35.658068,139.751599,Tōkyō,Minato,Saturday,0,0,2016,1,3,0,3.448745e-10
10,air_ba937bf13d40fb24,21,Dining bar,35.658068,139.751599,Tōkyō,Minato,Monday,0,0,2016,1,4,0,6.182246e-10
11,air_ba937bf13d40fb24,11,Dining bar,35.658068,139.751599,Tōkyō,Minato,Tuesday,0,0,2016,1,4,0,8.135414e-10
12,air_ba937bf13d40fb24,24,Dining bar,35.658068,139.751599,Tōkyō,Minato,Wednesday,0,0,2016,1,4,0,1.059528e-09
13,air_ba937bf13d40fb24,21,Dining bar,35.658068,139.751599,Tōkyō,Minato,Thursday,0,0,2016,1,4,0,1.366698e-09
14,air_ba937bf13d40fb24,26,Dining bar,35.658068,139.751599,Tōkyō,Minato,Friday,0,0,2016,1,4,0,1.747238e-09
15,air_ba937bf13d40fb24,6,Dining bar,35.658068,139.751599,Tōkyō,Minato,Saturday,0,0,2016,1,4,0,2.215210e-09
16,air_ba937bf13d40fb24,18,Dining bar,35.658068,139.751599,Tōkyō,Minato,Wednesday,0,0,2016,2,5,0,5.320086e-09
17,air_ba937bf13d40fb24,12,Dining bar,35.658068,139.751599,Tōkyō,Minato,Thursday,0,0,2016,2,5,0,6.516922e-09
18,air_ba937bf13d40fb24,45,Dining bar,35.658068,139.751599,Tōkyō,Minato,Friday,0,0,2016,2,5,0,7.937499e-09
19,air_ba937bf13d40fb24,15,Dining bar,35.658068,139.751599,Tōkyō,Minato,Saturday,0,0,2016,2,5,0,9.615642e-09
20,air_ba937bf13d40fb24,19,Dining bar,35.658068,139.751599,Tōkyō,Minato,Monday,0,0,2016,2,6,0,1.390012e-08
21,air_ba937bf13d40fb24,15,Dining bar,35.658068,139.751599,Tōkyō,Minato,Tuesday,0,0,2016,2,6,0,1.659534e-08
22,air_ba937bf13d40fb24,32,Dining bar,35.658068,139.751599,Tōkyō,Minato,Wednesday,0,1,2016,2,6,0,1.972664e-08
23,air_ba937bf13d40fb24,3,Dining bar,35.658068,139.751599,Tōkyō,Minato,Thursday,1,0,2016,2,6,0,2.335131e-08
24,air_ba937bf13d40fb24,26,Dining bar,35.658068,139.751599,Tōkyō,Minato,Friday,0,0,2016,2,6,0,2.753248e-08
25,air_ba937bf13d40fb24,8,Dining bar,35.658068,139.751599,Tōkyō,Minato,Saturday,0,0,2016,2,6,0,3.233962e-08
26,air_ba937bf13d40fb24,14,Dining bar,35.658068,139.751599,Tōkyō,Minato,Monday,0,0,2016,2,7,0,4.414393e-08
27,air_ba937bf13d40fb24,15,Dining bar,35.658068,139.751599,Tōkyō,Minato,Tuesday,0,0,2016,2,7,0,5.131581e-08
28,air_ba937bf13d40fb24,17,Dining bar,35.658068,139.751599,Tōkyō,Minato,Wednesday,0,0,2016,2,7,0,5.946410e-08
29,air_ba937bf13d40fb24,22,Dining bar,35.658068,139.751599,Tōkyō,Minato,Thursday,0,0,2016,2,7,0,6.869716e-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252078,air_24e8414b9b07decb,4,Other,35.653217,139.711036,Tōkyō,Shibuya,Friday,0,0,2017,3,11,0,3.338275e-01
252079,air_24e8414b9b07decb,7,Other,35.653217,139.711036,Tōkyō,Shibuya,Saturday,0,0,2017,3,11,0,3.391504e-01
252080,air_24e8414b9b07decb,2,Other,35.653217,139.711036,Tōkyō,Shibuya,Tuesday,0,0,2017,3,12,0,3.555578e-01
252081,air_24e8414b9b07decb,8,Other,35.653217,139.711036,Tōkyō,Shibuya,Wednesday,0,0,2017,3,12,0,3.611760e-01
252082,air_24e8414b9b07decb,8,Other,35.653217,139.711036,Tōkyō,Shibuya,Thursday,0,0,2017,3,12,0,3.668701e-01
252083,air_24e8414b9b07decb,7,Other,35.653217,139.711036,Tōkyō,Shibuya,Friday,0,0,2017,3,12,0,3.726410e-01
252084,air_24e8414b9b07decb,2,Other,35.653217,139.711036,Tōkyō,Shibuya,Saturday,0,0,2017,3,12,0,3.784895e-01
252085,air_24e8414b9b07decb,4,Other,35.653217,139.711036,Tōkyō,Shibuya,Monday,0,0,2017,3,13,0,3.904229e-01
252086,air_24e8414b9b07decb,7,Other,35.653217,139.711036,Tōkyō,Shibuya,Tuesday,0,0,2017,3,13,0,3.965095e-01
252087,air_24e8414b9b07decb,11,Other,35.653217,139.711036,Tōkyō,Shibuya,Wednesday,0,0,2017,3,13,0,4.026773e-01
252088,air_24e8414b9b07decb,7,Other,35.653217,139.711036,Tōkyō,Shibuya,Thursday,0,0,2017,3,13,0,4.089272e-01
252089,air_24e8414b9b07decb,8,Other,35.653217,139.711036,Tōkyō,Shibuya,Friday,0,0,2017,3,13,0,4.152600e-01
252090,air_24e8414b9b07decb,6,Other,35.653217,139.711036,Tōkyō,Shibuya,Saturday,0,0,2017,4,13,0,4.216767e-01
252091,air_24e8414b9b07decb,4,Other,35.653217,139.711036,Tōkyō,Shibuya,Monday,0,0,2017,4,14,0,4.347654e-01
252092,air_24e8414b9b07decb,2,Other,35.653217,139.711036,Tōkyō,Shibuya,Tuesday,0,0,2017,4,14,0,4.414393e-01
252093,air_24e8414b9b07decb,2,Other,35.653217,139.711036,Tōkyō,Shibuya,Wednesday,0,0,2017,4,14,0,4.482009e-01
252094,air_24e8414b9b07decb,8,Other,35.653217,139.711036,Tōkyō,Shibuya,Thursday,0,0,2017,4,14,0,4.550510e-01
252095,air_24e8414b9b07decb,8,Other,35.653217,139.711036,Tōkyō,Shibuya,Friday,0,0,2017,4,14,0,4.619906e-01
252096,air_24e8414b9b07decb,8,Other,35.653217,139.711036,Tōkyō,Shibuya,Saturday,0,0,2017,4,14,0,4.690208e-01
252097,air_24e8414b9b07decb,4,Other,35.653217,139.711036,Tōkyō,Shibuya,Monday,0,0,2017,4,15,0,4.833566e-01
252098,air_24e8414b9b07decb,2,Other,35.653217,139.711036,Tōkyō,Shibuya,Tuesday,0,0,2017,4,15,0,4.906642e-01
252099,air_24e8414b9b07decb,8,Other,35.653217,139.711036,Tōkyō,Shibuya,Wednesday,0,0,2017,4,15,0,4.980663e-01
252100,air_24e8414b9b07decb,6,Other,35.653217,139.711036,Tōkyō,Shibuya,Thursday,0,0,2017,4,15,0,5.055639e-01
252101,air_24e8414b9b07decb,2,Other,35.653217,139.711036,Tōkyō,Shibuya,Friday,0,0,2017,4,15,0,5.131581e-01
252102,air_24e8414b9b07decb,7,Other,35.653217,139.711036,Tōkyō,Shibuya,Saturday,0,0,2017,4,15,0,5.208499e-01
252103,air_24e8414b9b07decb,6,Other,35.653217,139.711036,Tōkyō,Shibuya,Tuesday,0,0,2017,4,16,0,5.445209e-01
252104,air_24e8414b9b07decb,6,Other,35.653217,139.711036,Tōkyō,Shibuya,Wednesday,0,0,2017,4,16,0,5.526135e-01
252105,air_24e8414b9b07decb,7,Other,35.653217,139.711036,Tōkyō,Shibuya,Thursday,0,0,2017,4,16,0,5.608089e-01
252106,air_24e8414b9b07decb,8,Other,35.653217,139.711036,Tōkyō,Shibuya,Friday,0,0,2017,4,16,0,5.691082e-01
252107,air_24e8414b9b07decb,5,Other,35.653217,139.711036,Tōkyō,Shibuya,Saturday,0,0,2017,4,16,0,5.775126e-01